/*CSS del list_products.php*/
.table-row {
    display: table-row;
}

.table-display {
    display: table;
}

.table-cell {
    width: 40%;
    text-align: center;
    padding: 40px;
    display: table-cell;
    min-width: 540px;
    border-style: inset;
    border-radius: 30px;
    background-color: lightgrey;
    font-size: 25px;
}

.table-separator {
    width: 10%;
    display: table-cell;
}

#avatarlist {
    width: 130px;
    height: 130px;
}

/*CSS del details_products.php*/

.mediadetails {
    width: 80%;
    padding: 20px;
    display: table-cell;
    border-style: groove;
    background-color: lightyellow;
    text-align: center;
}

#preciodetails {
    font-family: "Comic Sans";
    font-size: 30px;
    color: red;
}

#marcadetails {
    font-family: "Verdana";
    font-weight: bold;
    font-size: 45px;
}

#modelodetails {
    font-family: "Arial";
    font-size: 25px;
    font-style: italic;
}

#avatardetails {
    width: 180px;
    height: 180px;
}

/*CSS del template error 404.php*/

#fof {
    display: block;
    position: relative;
    width: 960px;
    height: 578px;
    background-image: url("../../../../media/404.png");
    line-height: 1.6em;
    text-align: center;
}

#fof .positioned {
    display: block;
    position: absolute;
    top: 300px;
    right: 0;
    width: 448px;
    height: 250px;
}

#fof .hgroup {
    margin-bottom: 50px;
}

#fof img {
    margin-bottom: 25px;
}

#fof p {
    display: block;
    margin: 0 0 25px 0;
    padding: 0;
    font-size: 16px;
}

#fof #respond input {
    width: 200px;
    padding: 5px;
    border: 1px solid #CCCCCC;
}

#container {
    padding-left: 200px;
}

#footerr {
    color: #666666;
    background: lightgrey;
    padding: 0px 10px;
    border-top: 5px #efefef solid;
    font-size: 2em;
    text-align: center;
    margin: 10px;
}

#footerr a {
    color: orange;
}

/** ESTILO DEL INPUT SEARCH **/

.input_search {
    height: 2.7em;
    width: 30em;
    border: 0.1em solid #ccc;
    border-radius: 0.5em;
    background-color: #efefef;
    padding: 0em 1em;
    font-size: 1.2em;
    box-shadow: 0em 0.1em 0.5em #ccc;
}
.button_search{
    position: absolute; 
    background-image:url(../img/search.png);
    background-repeat:no-repeat;
    height:46px;
    width:100px;
    border: 0.1em solid #ccc;
    border-radius: 0.5em;
    background-color: #efefef;
    padding: 0em 1em;
    box-shadow: 0em 0.1em 0.5em #ccc;
}
